<ul class="nav nav-tabs">
  <li class="nav-item">
    <a routerLink="observable" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-link">
      Observable
    </a>
  </li>
  <li class="nav-item">
    <a routerLink="subjects" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-link">
      Subjects
    </a>
  </li>
  <li class="nav-item">
    <a routerLink="operators" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-link">
      Operators
    </a>
  </li>
  <li class="nav-item">
    <a routerLink="promise" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-link">
      Promise
    </a>
  </li>
</ul>

<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
