<div class="header bg-light">
  <ul class="nav">
    <li class="nav-item">
      <button type="button" class="btn btn-light" routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        Home
      </button>
    </li>
    <li class="nav-item">
      <button
        type="button"
        class="btn btn-light"
        routerLink="/directives-and-pipes"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Pipes/Directives
      </button>
    </li>
    <li class="nav-item">
      <button
        type="button"
        class="btn btn-light"
        routerLink="/lazy-load-comp"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Lazy Loading Component
      </button>
    </li>
    <li class="nav-item">
      <button type="button" class="btn btn-light" routerLink="/login" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        Login
      </button>
    </li>
    <li class="nav-item">
      <button type="button" class="btn btn-light" routerLink="/admin" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        Admin
      </button>
    </li>
    <li class="nav-item">
      <button type="button" class="btn btn-light" routerLink="/rxjs" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        RxJs
      </button>
    </li>
    <li class="nav-item">
      <button
        type="button"
        class="btn btn-light"
        routerLink="/claims/claims-home"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        lazy loading npm package Claims
      </button>
    </li>
  </ul>
</div>
