<kar-header></kar-header>

<div class="container-fluid">
  <router-outlet></router-outlet>
</div>

<hr />
<br />
<!-- <div class="content-box-div">
  content box
</div>

<div class="border-box-div">
  border box
</div> -->

<h3 class="app-title">{{ title }}</h3>
<p class="app-input-string1">
  inputString1 : <span>{{ inputString1 }}</span>
</p>
<p class="app-input-string2">inputString2 : {{ inputString2 }}</p>
<p class="app-input-obj">inputObj : {{ inputObj }}</p>

<hr />
<p>lifecycle comp</p>
<kar-lifecycle-hook [inputString1]="inputString1" [inputString2]="inputString2" [inputObj]="inputObj"></kar-lifecycle-hook>
<p>==========================</p>
