<ul class="nav nav-tabs">
  <li class="nav-item">
    <a
      routerLink="/home"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      class="nav-link"
    >
      Home
    </a>
  </li>
  <li class="nav-item">
    <a
      routerLink="/directives-and-pipes"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      class="nav-link"
    >
      Pipes/Directives
    </a>
  </li>
  <li class="nav-item">
    <a
      routerLink="/login"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      class="nav-link"
    >
      Login
    </a>
  </li>
  <li class="nav-item">
    <a routerLink="/admin" routerLinkActive="active" class="nav-link">
      Admin
    </a>
  </li>
  <li class="nav-item">
    <a routerLink="/rxjs" routerLinkActive="active" class="nav-link">
      RxJs
    </a>
  </li>
</ul>

<div class="container-fluid">
  <router-outlet></router-outlet>
</div>

<hr/>
<div class="content-box-div">
  content box
</div>

<div class="border-box-div">
  border box
</div>
