<div class="container-fluid">
  <div class="header-container">
    <button
      routerLink="/home"
      routerLinkActive="btn-secondary"
      [routerLinkActiveOptions]="{ exact: true }"
      class="btn btn-primary"
    >
      Home
    </button>
    <button
      routerLink="/directives-and-pipes"
      routerLinkActive="btn-secondary"
      [routerLinkActiveOptions]="{ exact: true }"
      class="btn btn-primary"
    >
      Pipes/Directives
    </button>
    <button
      routerLink="/login"
      routerLinkActive="btn-secondary"
      [routerLinkActiveOptions]="{ exact: true }"
      class="btn btn-primary"
    >
      Login
    </button>
    <button
      routerLink="/admin"
      routerLinkActive="btn-secondary"
      class="btn btn-primary"
    >
      Admin
    </button>
    <button
      routerLink="/rxjs"
      routerLinkActive="btn-secondary"
      class="btn btn-primary"
    >
      RxJs
    </button>
  </div>
</div>

<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
