<div>
  <button *ngIf="auth.isAuthenticated" class="btn btn-primary logout-btn" (click)="onLogoutClick()">LogOut</button>
  <p *ngIf="!auth.isAuthenticated" class="logout-msg">User logged out successfully..</p>
</div>
<hr />

<div class="container-fluid">
  <div class="header-container">
    <button routerLink="users" routerLinkActive="btn-secondary" [routerLinkActiveOptions]="{ exact: true }" class="btn btn-primary">
      Users
    </button>
  </div>
</div>

<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
