/* You can add global styles to this file, and also import other style files */
// @import "~bootstrap/scss/bootstrap.scss";
@import '../node_modules/bootstrap/scss/bootstrap.scss';

.example {
  margin-bottom: 30px;
}

.invalid {
  border: 1px solid red;
}

.ng-touched.ng-invalid,
.ng-dirty.ng-invalid {
  @extend .is-invalid;
  background-image: none !important;
}
